<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center">

        <li *ngFor="let url of urls" class="nav-item">
          <a class="nav-link" [routerLink]="[url.url]">{{ url.text }}</a>
        </li>

      </ul>

      <app-cart></app-cart>
    </div>

  </div>
</nav>