app-cart{
    margin-left: auto;
}
.dropdown-btn-to-link{
    background: transparent !important;
    border: 0px!important;
    cursor: pointer !important;
    box-shadow: none !important;
    outline: none !important;
}